In [1]:
import pandas as pd
import time, requests, json, random, os
#from selenium import webdriver
from splinter import Browser
from bs4 import BeautifulSoup as bs
from subprocess import call

In [2]:
#*   Prohibits truncatation of data in prints.
pd.set_option('display.max_colwidth', -1)

In [3]:
# All Academy Awards winners .csv loaded as a DataFrame 
# (SOURCE: https://datahub.io/rufuspollock/oscars-nominees-and-winners)
allWinAndNom = pd.read_csv("/Users/nicolespaar/Desktop/oscars_winners.csv")

def getWinnersDF_Film(allWinAndNOm):
    allWinners_year = []
    allWinners_category = []
    allWinners_entity = []
    
    # Rows are iterrated and those that have a True bool in the `winner` attribute are
    # appended to the above declared holding arrays.
    for row in allWinAndNom.iterrows():
        if row[1]['winner'] == True:
            allWinners_year.append(row[1]['year'])
            allWinners_category.append(row[1]['category'])
            allWinners_entity.append(row[1]['entity'])
    
    # A new $winners_data dict is created from the above iterrator's resulting arrays. Then a
    # DataFrame is created from the dict.
    winners_data = {'Year': allWinners_year, 'Category': allWinners_category, 'Entity': allWinners_entity}
    winnersDF = pd.DataFrame(data=winners_data)
    
    # The name of the current `Best Picture` Academy Award was called several things
    # throughout the years. Each variation is extracted as a new DataFrame.
    winnersDF_films_A = winnersDF[winnersDF['Category'] == 'BEST PICTURE'].copy()
    winnersDF_films_B = winnersDF[winnersDF['Category'] == 'OUTSTANDING PRODUCTION'].copy()
    winnersDF_films_C = winnersDF[winnersDF['Category'] == 'OUTSTANDING MOTION PICTURE'].copy()
    winnersDF_films_D = winnersDF[winnersDF['Category'] == 'BEST MOTION PICTURE'].copy()
    winnersDF_films_E = winnersDF[winnersDF['Category'] == 'OUTSTANDING PICTURE'].copy()
    
    winners_years = []
    winners_entities = []
    
    # The first two years have incorrect `Entity` values so they are manually altered.
    for row in winnersDF_films_E.iterrows():
        winners_years.append(row[1]['Year'])
    winners_entities.append("wings")
    winners_entities.append("the broadway melody")

    # Each of the other DataFrames holding best picture winners by varying category name are
    # iterrated and added to the above winners arrays. The entity is also changed to lowercase.
    for row in winnersDF_films_B.iterrows():
        winners_years.append(row[1]['Year'])
        winners_entities.append(row[1]['Entity'].lower())
    for row in winnersDF_films_C.iterrows():
        winners_years.append(row[1]['Year'])
        winners_entities.append(row[1]['Entity'].lower())
    for row in winnersDF_films_D.iterrows():
        winners_years.append(row[1]['Year'])
        winners_entities.append(row[1]['Entity'].lower())
    for row in winnersDF_films_A.iterrows():
        winners_years.append(row[1]['Year'])
        winners_entities.append(row[1]['Entity'].lower())
    winners_film_data = {'Year': winners_years, 'Entity': winners_entities}

    # A DataFrame of the cleaned and lowercased winners is created.
    winnersDF_films = pd.DataFrame(data=winners_film_data)
    
    return winnersDF_films, winners_entities, winners_years

In [4]:
winnersDF_Film, entities, years = getWinnersDF_Film(allWinAndNom)
winnersDF_Film.head(3)

   Year                          Entity
0  1927  wings
1  1928  the broadway melody
2  1929  all quiet on the western front

In [5]:
#! --- --- --- This creates a csv containing all of the titleBasics' movie titles lowercased
#! --- --- --- and as a new column. It takes a while so I'm leaving it commented out for now.

#print("titleBasics..")
#titleBasics = pd.read_csv("/Users/nicolespaar/Desktop/oscarDataAnalysis/Spaar/resources/data/title.basics.tsv", sep='\t', header=0, low_memory=False)
#lowercased_titles = []
#count = 0
#for row in titleBasics.iterrows():
#    try:
#        lower = row[1].primaryTitle.lower()
#        lowercased_titles.append(lower)
#    except:
#        count += 1
#        lowercased_titles.append("n/a")
#print(f"{count} movies had no 'primaryTitle'")
#titleBasics['lowercasedTitle'] = lowercased_titles
#titleBasics.to_csv("titleBasics_spaar.csv")

In [6]:
# IMdB title information .csv + my own munging of `title.lower()` is loaded in as $titleBasics.
# (SOURCE: https://www.imdb.com/interfaces/)
titleBasics = pd.read_csv("/Users/nicolespaar/Desktop/titleBasics_spaar.csv", index_col='tconst', low_memory=False)
titleBasics.head(3)

,Unnamed: 0,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,lowercasedTitle
tconst,,,,,,,,,,
tt0000001,0,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",carmencita
tt0000002,1,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",le clown et ses chiens
tt0000003,2,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",pauvre pierrot

In [7]:
#print("titleCrew..")
#titleCrew = pd.read_csv("/Users/nicolespaar/Desktop/title.crew.tsv", sep='\t', header=0)

#print("nameBasics..")
#nameBasics = pd.read_csv("/Users/nicolespaar/Desktop/name.basics.tsv", sep='\t', header=0, index_col='nconst')

#("titlePrincipals..")
#titlePrincipals = pd.read_csv("/Users/nicolespaar/Desktop/title.principals.tsv", sep='\t', header=0, index_col='nconst')
#titlePrincipals.head(3)

In [8]:
#!---- ---- ---- ---- From the Past ---- ---- ---- ----!#

def init_splinter():
    '''
    init_splinter() initializes a selenium chrome webdriver using a Tor proxy and returns it
    as a splinter browser wrapped object.
    '''
    executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
    browser = Browser('chrome', **executable_path, headless=False, incognito=True)
    return browser



def simmer_soup():
    '''
    simmer_soup() receives the browser object and returns the current page's parsed html as "Soup".
    '''
    html = browser.html
    soup = bs(html, 'html.parser')
    return html, soup

#!---- ---- ---- ---- From Scratch ---- ---- ---- ----!#

bechdel_base = "http://bechdeltest.com/api/v1/getMoviesByTitle?title="
bechdel_bools = []

def callAPI(movieToSearch):
    '''
    callAPI() calls the above url (Bechdel test API) with a movie title argument. The
    response is returned as a JSON in a variable ($conn). If the length of the response
    is less than or equal to 2, the response is a False (Either hasn't been Bechdel rated,
    or is rated a False for passing) and a 0 is returned. Else a True 1 is returned.
    '''
    conn = str(requests.get(bechdel_base + movieToSearch).json())
    if len(conn) <= 2:
        return 0
    else:
        return 1
    
    
     
def monthToNum(MonthName):
    '''
    monthtoNum() receives a Month name string and returns its corresponding int.
    '''
    return{
        'January': 1,
        'February': 2,
        'March': 3,
        'April': 4,
        'May': 5,
        'June': 6,
        'July': 7,
        'August': 8,
        'September': 9,
        'October': 10,
        'November': 11,
        'December': 12
    }[MonthName]



def getRateLimit():
    '''
    getRateLimit() returns a random number between 2.66 and 6.33, rounded to 2 decimals 
    places. The result is used as a rate-limiter for our scraping calls as to slow down
    requests and not be rude to IMdB.
    '''
    return round(random.uniform(2.66, 6.33), 2)

In [9]:
scraped = []

for row in winnersDF_Film.iterrows():
    
    # A random amount of time to throttle our requests is generated for each row iterration.
    throttle = getRateLimit()
    movieToSearch = row[1].Entity
    movieYear = row[1].Year
    
    # The downloaded IMdB database >> DataFrame is searched for the current iterration's movie.
    titleBasicsArray = titleBasics[titleBasics['lowercasedTitle'] == movieToSearch]
    titleBasicsRow_RAW = titleBasicsArray[titleBasicsArray['titleType'] == 'movie']
    titleBasicsRow = titleBasicsRow_RAW[titleBasicsRow_RAW['startYear'] == str(movieYear)]
    tconst = titleBasicsRow.index.to_list()
    tconst_str = ''.join(tconst)
    tconst_str = tconst_str[0:9]
    
    # If the length of the result of the search's tconst string is NOT 0 (empty/no result
    # found), then the associated details as well as the result of its Bechdel rating API
    # caller are appended as a list. That list is then appended into the $scraped array.
    if len(tconst_str) != 0:
        print(f"APPENDING info of: '{row[1].Entity}' ({row[1].Year}) with a throttle of: {throttle}s")
        temp = []
        temp.append(movieToSearch)
        temp.append(tconst_str) 
        temp.append(movieYear)
        time.sleep(throttle)
        bechdelBool = callAPI(movieToSearch)
        temp.append(bechdelBool)
        scraped.append(temp)  
        
    # If the length of the result of the search's tconst string IS 0 (empty/no results found),
    # then the needed details are scraped from IMdB's website.
    else:
        print(f"   [!] SCRAPING info of: '{row[1].Entity}' ({row[1].Year}) with a throttle of: {throttle}s")
    
        temp = []
        time.sleep(throttle)
        
        # The below URL can be used as an API of sorts by appending the $movieToSearch to it,
        # we must only replace the whitespace with a plus sign.
        base_url = "https://www.imdb.com/search/title/?title=" 
        movieToSearch = movieToSearch.replace(" ", "+")
        full_url = (base_url + movieToSearch)
        browser = init_splinter()
        browser.driver.minimize_window()
        browser.visit(full_url)
        
        # The results page is parsed with Beautifulsoup4 and a `soup` object returned. Then
        # the plus signs are replaced back with whitespace in our $movieToSearch. The `soup`
        # object is parsed and iterrated for the correct result that corresponds to the movie
        # we are after. Its <href> characters [7:16] are spliced as its `tconst` and appended
        # along with the rest of its associated information to a list. 
        html, soup = simmer_soup()
        movieToSearch = movieToSearch.replace("+", " ")
        results = soup.find_all('h3', class_='lister-item-header')
        for r in results:
            rYear = soup.select('h3 > span')[1].get_text(strip=True)
            rYear = rYear.replace("(", "")
            rYear = rYear.replace(")", "")
            if (r.a.text.lower() == movieToSearch) and movieToSearch not in temp:
                link_end = r.a['href']
                tconst_str = link_end[7:16]
                temp.append(movieToSearch)
                temp.append(tconst_str) 
                temp.append(movieYear)   
        browser.quit()
        
        #? The Bechdel rating for our new movie is acquired via the Bechdel callAPI() function,
        #? and appended to the rest of the information we scraped's list. Once complete, that
        #? list is then appended into the $scraped array.
        bechdelBool = callAPI(movieToSearch)
        temp.append(bechdelBool)
        scraped.append(temp)

print("\n\nHead of scrapes:")
print(scraped[0:5])
print("\nTail of scrapes:")
print(scraped[-6:-1])

APPENDING info of: 'wings' (1927) with a throttle of: 3.62s
   [!] SCRAPING info of: 'the broadway melody' (1928) with a throttle of: 3.54s
   [!] SCRAPING info of: 'all quiet on the western front' (1929) with a throttle of: 4.18s
   [!] SCRAPING info of: 'cimarron' (1930) with a throttle of: 4.44s
   [!] SCRAPING info of: 'grand hotel' (1931) with a throttle of: 4.87s
   [!] SCRAPING info of: 'cavalcade' (1932) with a throttle of: 5.54s
APPENDING info of: 'it happened one night' (1934) with a throttle of: 4.79s
APPENDING info of: 'mutiny on the bounty' (1935) with a throttle of: 5.78s
APPENDING info of: 'the great ziegfeld' (1936) with a throttle of: 4.07s
APPENDING info of: 'the life of emile zola' (1937) with a throttle of: 4.29s
APPENDING info of: 'you can't take it with you' (1938) with a throttle of: 3.72s
APPENDING info of: 'gone with the wind' (1939) with a throttle of: 2.79s
APPENDING info of: 'rebecca' (1940) with a throttle of: 2.73s
APPENDING info of: 'how green was my valley' (1941) with a throttle of: 2.93s
APPENDING info of: 'mrs. miniver' (1942) with a throttle of: 4.7s
   [!] SCRAPING info of: 'casablanca' (1943) with a throttle of: 6.33s
APPENDING info of: 'going my way' (1944) with a throttle of: 4.74s
APPENDING info of: 'the lost weekend' (1945) with a throttle of: 3.5s
APPENDING info of: 'the best years of our lives' (1946) with a throttle of: 5.64s
APPENDING info of: 'gentleman's agreement' (1947) with a throttle of: 3.69s
APPENDING info of: 'hamlet' (1948) with a throttle of: 5.76s
APPENDING info of: 'all the king's men' (1949) with a throttle of: 6.31s
APPENDING info of: 'all about eve' (1950) with a throttle of: 5.74s
APPENDING info of: 'an american in paris' (1951) with a throttle of: 5.03s
APPENDING info of: 'the greatest show on earth' (1952) with a throttle of: 5.04s
APPENDING info of: 'from here to eternity' (1953) with a throttle of: 6.1s
APPENDING info of: 'on the waterfront' (1954) with a throttle of: 5.05s
APPENDING info of: 'marty' (1955) with a throttle of: 4.4s
APPENDING info of: 'around the world in 80 days' (1956) with a throttle of: 3.53s
APPENDING info of: 'the bridge on the river kwai' (1957) with a throttle of: 4.45s
APPENDING info of: 'gigi' (1958) with a throttle of: 5.9s
APPENDING info of: 'ben-hur' (1959) with a throttle of: 3.61s
APPENDING info of: 'the apartment' (1960) with a throttle of: 4.15s
APPENDING info of: 'west side story' (1961) with a throttle of: 3.43s
APPENDING info of: 'lawrence of arabia' (1962) with a throttle of: 5.22s
APPENDING info of: 'tom jones' (1963) with a throttle of: 6.06s
APPENDING info of: 'my fair lady' (1964) with a throttle of: 5.95s
APPENDING info of: 'the sound of music' (1965) with a throttle of: 2.76s
APPENDING info of: 'a man for all seasons' (1966) with a throttle of: 3.89s
APPENDING info of: 'in the heat of the night' (1967) with a throttle of: 5.24s
APPENDING info of: 'oliver!' (1968) with a throttle of: 2.88s
APPENDING info of: 'midnight cowboy' (1969) with a throttle of: 2.82s
APPENDING info of: 'patton' (1970) with a throttle of: 5.12s
APPENDING info of: 'the french connection' (1971) with a throttle of: 5.71s
APPENDING info of: 'the godfather' (1972) with a throttle of: 3.61s
APPENDING info of: 'the sting' (1973) with a throttle of: 3.05s
   [!] SCRAPING info of: 'the godfather part ii' (1974) with a throttle of: 2.83s
APPENDING info of: 'one flew over the cuckoo's nest' (1975) with a throttle of: 4.49s
APPENDING info of: 'rocky' (1976) with a throttle of: 3.85s
APPENDING info of: 'annie hall' (1977) with a throttle of: 3.85s
APPENDING info of: 'the deer hunter' (1978) with a throttle of: 5.25s
APPENDING info of: 'kramer vs. kramer' (1979) with a throttle of: 3.88s
APPENDING info of: 'ordinary people' (1980) with a throttle of: 4.31s
APPENDING info of: 'chariots of fire' (1981) with a throttle of: 5.71s
APPENDING info of: 'gandhi' (1982) with a throttle of: 6.07s
APPENDING info of: 'terms of endearment' (1983) with a throttle of: 4.73s
APPENDING info of: 'amadeus' (1984) with a throttle of: 6.31s
APPENDING info of: 'out of africa' (1985) with a throttle of: 4.24s
APPENDING info of: 'platoon' (1986) with a throttle of: 5.45s
APPENDING info of: 'the last emperor' (1987) with a throttle of: 5.95s
APPENDING info of: 'rain man' (1988) with a throttle of: 3.6s
APPENDING info of: 'driving miss daisy' (1989) with a throttle of: 2.75s
APPENDING info of: 'dances with wolves' (1990) with a throttle of: 3.14s
APPENDING info of: 'the silence of the lambs' (1991) with a throttle of: 4.11s
APPENDING info of: 'unforgiven' (1992) with a throttle of: 4.19s
APPENDING info of: 'schindler's list' (1993) with a throttle of: 5.18s
APPENDING info of: 'forrest gump' (1994) with a throttle of: 6.25s
APPENDING info of: 'braveheart' (1995) with a throttle of: 5.1s
APPENDING info of: 'the english patient' (1996) with a throttle of: 5.47s
APPENDING info of: 'titanic' (1997) with a throttle of: 3.97s
APPENDING info of: 'shakespeare in love' (1998) with a throttle of: 3.99s
APPENDING info of: 'american beauty' (1999) with a throttle of: 5.65s
APPENDING info of: 'gladiator' (2000) with a throttle of: 3.87s
APPENDING info of: 'a beautiful mind' (2001) with a throttle of: 5.63s
APPENDING info of: 'chicago' (2002) with a throttle of: 3.43s
APPENDING info of: 'the lord of the rings: the return of the king' (2003) with a throttle of: 3.27s
APPENDING info of: 'million dollar baby' (2004) with a throttle of: 4.28s
   [!] SCRAPING info of: 'crash' (2005) with a throttle of: 3.01s
APPENDING info of: 'the departed' (2006) with a throttle of: 5.98s
APPENDING info of: 'no country for old men' (2007) with a throttle of: 3.52s
APPENDING info of: 'slumdog millionaire' (2008) with a throttle of: 5.58s
   [!] SCRAPING info of: 'the hurt locker' (2009) with a throttle of: 5.2s
APPENDING info of: 'the king's speech' (2010) with a throttle of: 4.47s
APPENDING info of: 'the artist' (2011) with a throttle of: 3.55s
APPENDING info of: 'argo' (2012) with a throttle of: 5.55s
APPENDING info of: '12 years a slave' (2013) with a throttle of: 3.69s
APPENDING info of: 'birdman or (the unexpected virtue of ignorance)' (2014) with a throttle of: 5.09s
APPENDING info of: 'spotlight' (2015) with a throttle of: 6.1s
APPENDING info of: 'moonlight' (2016) with a throttle of: 6.15s
APPENDING info of: 'the shape of water' (2017) with a throttle of: 3.41s


Head of scrapes:
[['wings', 'tt0018578', 1927, 1], ['the broadway melody', 'tt0019729', 1928, 0], ['all quiet on the western front', 'tt0020629', 1929, 1], ['cimarron', 'tt0053715', 1930, 1], ['grand hotel', 'tt7671068', 1931, 1]]

Tail of scrapes:
[['argo', 'tt1024648', 2012, 1], ['12 years a slave', 'tt2024544', 2013, 1], ['birdman or (the unexpected virtue of ignorance)', 'tt2562232', 2014, 0], ['spotlight', 'tt1895587', 2015, 1], ['moonlight', 'tt4975722', 2016, 1]]

In [10]:
# Check to see if TGF 2 && Cimarron are b0rked per usual:
print(scraped[45:48], "\n")
print(scraped[2:5])

[['the sting', 'tt0070735', 1973, 0], [0], ["one flew over the cuckoo's nest", 'tt0073486', 1975, 0]]

[['all quiet on the western front', 'tt0020629', 1929, 1], ['cimarron', 'tt0053715', 1930, 1], ['grand hotel', 'tt7671068', 1931, 1]]

In [11]:
# Insert its data manually since it is.
scraped[46] = ['the godfather part ii', 'tt0071562', 1974, 0]
scraped[3] = ['cimarron', 'tt0021746', 1931, 1]

In [12]:
# Double check that it looks okay after manual insertion.
print(scraped[45:48], "\n")
print(scraped[2:5])

[['the sting', 'tt0070735', 1973, 0], ['the godfather part ii', 'tt0071562', 1974, 0], ["one flew over the cuckoo's nest", 'tt0073486', 1975, 0]]

[['all quiet on the western front', 'tt0020629', 1929, 1], ['cimarron', 'tt0021746', 1931, 1], ['grand hotel', 'tt7671068', 1931, 1]]

In [13]:
Model_finalTitles = []
Model_finalTconsts = []
Model_finalYear = []
Model_finalBechdel = []

# The scraped data and Bechdel scores are appended to arrays, then they're made into a dict 
# that is used to create a DataFrame.
for winner in scraped:
    Model_finalTitles.append(winner[0])
    Model_finalTconsts.append(winner[1])
    Model_finalYear.append(winner[2])
    Model_finalBechdel.append(winner[3])

model_data = {'TCONST': Model_finalTconsts, 'TITLE': Model_finalTitles, 'YEAR': Model_finalYear, 'BECHDEL': Model_finalBechdel}    
modelDF = pd.DataFrame(data=model_data)
print("HEAD of [modelDF] results from `tconst` collection/scraping:\n")
print(modelDF.head())
print("\n\n\nTAIL of [modelDF] results from `tconst` collection/scraping:\n")
print(modelDF.tail())

HEAD of [modelDF] results from `tconst` collection/scraping:

      TCONST                           TITLE  YEAR  BECHDEL
0  tt0018578  wings                           1927  1
1  tt0019729  the broadway melody             1928  0
2  tt0020629  all quiet on the western front  1929  1
3  tt0021746  cimarron                        1931  1
4  tt7671068  grand hotel                     1931  1



TAIL of [modelDF] results from `tconst` collection/scraping:

       TCONST                                            TITLE  YEAR  BECHDEL
85  tt2024544  12 years a slave                                 2013  1
86  tt2562232  birdman or (the unexpected virtue of ignorance)  2014  0
87  tt1895587  spotlight                                        2015  1
88  tt4975722  moonlight                                        2016  1
89  tt5580390  the shape of water                               2017  0

In [14]:
def getModelDF_TITLE(count):
    return modelDF.loc[int(count - 1)].TITLE

def getModelDF_YEAR(count):
    return modelDF.loc[int(count - 1)].YEAR

def getModelDF_BECHDEL(count):
    return modelDF.loc[int(count - 1)].BECHDEL

tconstDoOvers = []
titleDoOvers = []
yearDoOvers = []
bechdelDoOvers = []
def changeTCONST_LIST(NEW_tconst, CHECK_title, CHECK_year, CHECK_bechdel):
    tconstDoOvers.append(NEW_tconst)
    titleDoOvers.append(CHECK_title)
    yearDoOvers.append(int(CHECK_year -1))
    bechdelDoOvers.append(CHECK_bechdel)
    
def clear():
    _ = call('clear' if os.name == 'posix' else 'cls')

In [15]:
# The below [empty] arrays declared are what we go and scrape for with the above created
# Dataframe of movies (modelDF).
scores = []
votecount = []
budgets = []
companies = []
releasedDays = []
releasedMonths = []
releasedYears = []
releasedCountries = []

imdb_base = "https://www.imdb.com/title/"

count = 0
iterLength = len(Model_finalTconsts)

for pk in Model_finalTconsts:
    
    count += 1
    CHECK_title = getModelDF_TITLE(count)
    CHECK_year = getModelDF_YEAR(count)
    CHECK_bechdel = getModelDF_BECHDEL(count)
    
    # A random amount of time to throttle our requests is generated for each `tconst` 
    # iterration. That `tconst` is concactenated onto the base IMdB movie page URL, and
    # it is then visited. That page's html is parsed with Beautifulsoup4 and a `soup`
    # object is returned.
    throttle = getRateLimit()
    imdb_end = pk
    url = (imdb_base + imdb_end)
    print(f"SCRAPE {count}/{iterLength}   >>>>   tconst: '{imdb_end}'   throttled by: {throttle}s   title: '{CHECK_title}'")
    time.sleep(throttle)
    browser = init_splinter()
    browser.visit(url)
    html, soup = simmer_soup()
    
    # The movie's ratings and vote count parent tag is extracted from the `soup` object and 
    # declared as $ratings.
    ratings_parent = soup.find('div', class_='ratingValue').strong['title']
    ratings = ratings_parent.split()
    
    # The movie's rating's score is appended to the current iterration's extraction list.
    score = ratings[0]
    scores.append(score)

    # The movie's rating's vote count is appended to the current iterration's extraction list.
    totalVotes = ratings[3]
    votecount.append(totalVotes.replace(",", ""))
    
    # Booleans for each of the troublesome features are declared as nil before attempting to
    # extract their associated categorical data from IMdB.
    budgetBOOL = False
    dayBOOL = False
    monthBOOL = False
    yearBOOL = False
    countryBOOL = False
    
    # The movie's certs parent tag is extracted from the `soup` object and declared as
    # $cert_raw. It is then iterrated through looking for <h4> tags' text that equal
    # `Budget`, `Production Co`, and `Release Date` to extract as attributes to append
    # as associated information/features of the dataset.
    cert_raw = soup.find_all('div', class_='txt-block')
    for cert in cert_raw:
        try:
            
            # If the `Budget` <h4> text is encountered within the iterration of the <div>s of
            # .txt-block, and if its length is not null, its Boolean is set to true and its
            # value from the 8th character on are appended to the current iterration's 
            # extraction list.
            if cert.h4.text == "Budget:":
                budget_RAW = cert.text.split()
                budget = budget_RAW[0]               
                if len(budget[8:]) != 0:
                    budgetBOOL = True
                    budgets.append(budget[8:].replace(",", ""))

            # If the `Production Co:` <h4> text is encountered within the iterration of the 
            # <div>s of .txt-block, its Boolean is set to true and its value from the 3rd 
            # indice/element on are appended to the current iterration's extraction list.
            elif cert.h4.text == "Production Co:":
                companies_RAW = cert.text.split()
                company = companies_RAW[2]            
                companies.append(company)   

            # If the `Production Co:` <h4> text is encountered within the iterration of the 
            # <div>s of .txt-block, its 3rd, 4th, and 5th indices/elements are extracted out
            # as new $VARs. The month ($release2) is converted to a numerical representation
            # of its string value, too.
            elif cert.h4.text == "Release Date:":
                release_RAW = cert.text.split()
                release1 = release_RAW[2]
                release2 = release_RAW[3]
                release3 = release_RAW[4]
                release2 = monthToNum(release2)
             
                # If the day ($release1) is not null, its Boolean is set to true and its value
                # is appended to the current iterration's extraction list.
                if len(release1) != 0:
                    dayBOOL = True
                    releasedDays.append(release1)
                
                # If the month ($release2) is not 1-12, its Boolean is set to true and its 
                # value is appended to the current iterration's extraction list.
                if release2 in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]:
                    monthBOOL = True
                    releasedMonths.append(release2)
                
                # If the year ($release3) is not null, its Boolean is set to true and its 
                # value is appended to the current iterration's extraction list.
                if len(release3) != 0:
                    yearBOOL = True
                    releasedYears.append(release3)
                
                # The 6th indice/element of $release_RAW is extracted out as a new variable,
                # $release_country. It also has its parens removed from its contents.
                release_country = release_RAW[5]
                release_country = release_country.replace("(", "")
                release_country = release_country.replace(")", "")
                
                # If the country ($release_country) is not null, its Boolean is set to true
                # and its value is appended to the current iterration's extraction list.
                if len(release_country) != 0:
                    countryBOOL = True
                    releasedCountries.append(release_country)
                    
        # Each iterration errors out at some point, so this allows the program to continue
        # regardless of what errors are being thrown about it.
        except:
            pass
    
    # I tried many ways to make this more elegant of code, but had to cut my losses for this
    # version that, while ugly: does work as intended. This is a refactored version of what
    # was all individual $___BOOL checks. If any $___BOOL $VARs are not True, then the user
    # is prompted if the existing `tconst` is indeed correct.
    if budgetBOOL != True or dayBOOL!= True or monthBOOL != True or yearBOOL != True or countryBOOL != True:
        print(f"   [!] ERROR [!]")
        tconstCheck = None
        while tconstCheck not in ("y", "n"):
            tconstCheck = str(input(f"   [!] Is {pk} the correct TCONST for '{CHECK_title}' ({CHECK_year})? [!]    [y]/[n] "))
            
            # If YES (the existing `tconst` is correct), the user is prompted to manually
            # input the data that was unable to be scraped.
            if tconstCheck == "y":
                if budgetBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $BUDGET$   (As a whole number): [!] "))
                    budgets.append(manualInsertion)
                if dayBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $RELEASE DAY$   (As a whole number, no leading zeros): [!] "))
                    releasedDays.append(manualInsertion)
                if monthBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $RELEASE_MONTH$   (As a whole number, no leading zeros): [!] "))
                    releasedMonths.append(manualInsertion)
                if yearBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $RELEASE_YEAR$   (As a whole number, 4 digits): [!] "))
                    releasedYears.append(manualInsertion)
                if countryBOOL != True:
                    manualInsertion = str(input(f"   [!] ENTER {pk}'s   $RELEASE_COUNTRY$   (As an uppercase abbr if +1 word eg: 'USA', else as a Titlecase string like 'Japan'): [!] "))
                    releasedCountries.append(manualInsertion)
            
            # If NO (the existing `tconst` is incorrect), the user is prompted to manually
            # input the correct `tconst`, and if it has not already been appended to the
            # $tconstDoOvers, then it is added. 
            elif tconstCheck == "n":
                NEW_tconst = str(input("   [!] Enter the correct TCONST: [!] "))         
                if NEW_tconst not in tconstDoOvers:
                    changeTCONST_LIST(NEW_tconst, CHECK_title, CHECK_year, CHECK_bechdel)
                    
                # Also, each bool that was left False (the scraper couldn't locate the correct
                # data) signals a value of `None` to be appended to the current iterration's
                # extraction list so that its row can later be dropped in favor of $tconstDoOvers    
                if budgetBOOL != True:
                    budgets.append(None)
                if dayBOOL != True:
                    releasedDays.append(None)
                if monthBOOL != True:
                    releasedMonths.append(None)
                if yearBOOL != True:
                    releasedYears.append(None)
                if countryBOOL != True:
                    releasedCountries.append(None)
            else:
                clear()
                print("      [!] [!]    You must enter 'y' or 'n'    [!] [!]")
                time.sleep(4)
                                    
    
    browser.quit()
    
os.system('say "skeet skeet"')

SCRAPE 1/90   >>>>   tconst: 'tt0018578'   throttled by: 3.72s   title: 'wings'
SCRAPE 2/90   >>>>   tconst: 'tt0019729'   throttled by: 2.99s   title: 'the broadway melody'
SCRAPE 3/90   >>>>   tconst: 'tt0020629'   throttled by: 6.21s   title: 'all quiet on the western front'
SCRAPE 4/90   >>>>   tconst: 'tt0021746'   throttled by: 4.37s   title: 'cimarron'
SCRAPE 5/90   >>>>   tconst: 'tt7671068'   throttled by: 5.24s   title: 'grand hotel'
   [!] ERROR [!]
   [!] Is tt7671068 the correct TCONST for 'grand hotel' (1931)? [!]    [y]/[n] n
   [!] Enter the correct TCONST: [!] tt0022958
SCRAPE 6/90   >>>>   tconst: 'tt0023876'   throttled by: 4.4s   title: 'cavalcade'
SCRAPE 7/90   >>>>   tconst: 'tt0025316'   throttled by: 4.3s   title: 'it happened one night'
SCRAPE 8/90   >>>>   tconst: 'tt0026752'   throttled by: 3.16s   title: 'mutiny on the bounty'
   [!] ERROR [!]
   [!] Is tt0026752 the correct TCONST for 'mutiny on the bounty' (1935)? [!]    [y]/[n] y
   [!] ENTER tt0026752's   $RELEASE DAY$   (As a whole number, no leading zeros): [!] 22
   [!] ENTER tt0026752's   $RELEASE_MONTH$   (As a whole number, no leading zeros): [!] 11
   [!] ENTER tt0026752's   $RELEASE_YEAR$   (As a whole number, 4 digits): [!] 1935
   [!] ENTER tt0026752's   $RELEASE_COUNTRY$   (As an uppercase abbr if +1 word eg: 'USA', else as a Titlecase string like 'Japan'): [!] USA
SCRAPE 9/90   >>>>   tconst: 'tt0027698'   throttled by: 3.6s   title: 'the great ziegfeld'
   [!] ERROR [!]
   [!] Is tt0027698 the correct TCONST for 'the great ziegfeld' (1936)? [!]    [y]/[n] y
   [!] ENTER tt0027698's   $BUDGET$   (As a whole number): [!] 2183000
SCRAPE 10/90   >>>>   tconst: 'tt0029146'   throttled by: 5.32s   title: 'the life of emile zola'
   [!] ERROR [!]
   [!] Is tt0029146 the correct TCONST for 'the life of emile zola' (1937)? [!]    [y]/[n] y
   [!] ENTER tt0029146's   $BUDGET$   (As a whole number): [!] 700000
SCRAPE 11/90   >>>>   tconst: 'tt0030993'   throttled by: 5.56s   title: 'you can't take it with you'
SCRAPE 12/90   >>>>   tconst: 'tt0031381'   throttled by: 6.29s   title: 'gone with the wind'
SCRAPE 13/90   >>>>   tconst: 'tt0032976'   throttled by: 4.57s   title: 'rebecca'
SCRAPE 14/90   >>>>   tconst: 'tt0033729'   throttled by: 3.39s   title: 'how green was my valley'
SCRAPE 15/90   >>>>   tconst: 'tt0035093'   throttled by: 4.18s   title: 'mrs. miniver'
SCRAPE 16/90   >>>>   tconst: 'tt0034583'   throttled by: 6.14s   title: 'casablanca'
SCRAPE 17/90   >>>>   tconst: 'tt0036872'   throttled by: 3.46s   title: 'going my way'
   [!] ERROR [!]
   [!] Is tt0036872 the correct TCONST for 'going my way' (1944)? [!]    [y]/[n] y
   [!] ENTER tt0036872's   $BUDGET$   (As a whole number): [!] 4000000
SCRAPE 18/90   >>>>   tconst: 'tt0037884'   throttled by: 3.17s   title: 'the lost weekend'
   [!] ERROR [!]
   [!] Is tt0037884 the correct TCONST for 'the lost weekend' (1945)? [!]    [y]/[n] y
   [!] ENTER tt0037884's   $RELEASE DAY$   (As a whole number, no leading zeros): [!] 29
   [!] ENTER tt0037884's   $RELEASE_MONTH$   (As a whole number, no leading zeros): [!] 11
   [!] ENTER tt0037884's   $RELEASE_YEAR$   (As a whole number, 4 digits): [!] 1945
   [!] ENTER tt0037884's   $RELEASE_COUNTRY$   (As an uppercase abbr if +1 word eg: 'USA', else as a Titlecase string like 'Japan'): [!] USA
SCRAPE 19/90   >>>>   tconst: 'tt0036868'   throttled by: 5.62s   title: 'the best years of our lives'
SCRAPE 20/90   >>>>   tconst: 'tt0039416'   throttled by: 4.54s   title: 'gentleman's agreement'
   [!] ERROR [!]
   [!] Is tt0039416 the correct TCONST for 'gentleman's agreement' (1947)? [!]    [y]/[n] y
   [!] ENTER tt0039416's   $RELEASE DAY$   (As a whole number, no leading zeros): [!] 25
   [!] ENTER tt0039416's   $RELEASE_MONTH$   (As a whole number, no leading zeros): [!] 12
   [!] ENTER tt0039416's   $RELEASE_YEAR$   (As a whole number, 4 digits): [!] 1947
   [!] ENTER tt0039416's   $RELEASE_COUNTRY$   (As an uppercase abbr if +1 word eg: 'USA', else as a Titlecase string like 'Japan'): [!] USA
SCRAPE 21/90   >>>>   tconst: 'tt0040416'   throttled by: 3.37s   title: 'hamlet'
SCRAPE 22/90   >>>>   tconst: 'tt0041113'   throttled by: 6.01s   title: 'all the king's men'
   [!] ERROR [!]
   [!] Is tt0041113 the correct TCONST for 'all the king's men' (1949)? [!]    [y]/[n] y
   [!] ENTER tt0041113's   $BUDGET$   (As a whole number): [!] 55000000
   [!] ENTER tt0041113's   $RELEASE DAY$   (As a whole number, no leading zeros): [!] 8
   [!] ENTER tt0041113's   $RELEASE_MONTH$   (As a whole number, no leading zeros): [!] 11
   [!] ENTER tt0041113's   $RELEASE_YEAR$   (As a whole number, 4 digits): [!] 1949
   [!] ENTER tt0041113's   $RELEASE_COUNTRY$   (As an uppercase abbr if +1 word eg: 'USA', else as a Titlecase string like 'Japan'): [!] USA
SCRAPE 23/90   >>>>   tconst: 'tt0042192'   throttled by: 5.21s   title: 'all about eve'
SCRAPE 24/90   >>>>   tconst: 'tt0043278'   throttled by: 2.96s   title: 'an american in paris'
SCRAPE 25/90   >>>>   tconst: 'tt0044672'   throttled by: 4.79s   title: 'the greatest show on earth'
   [!] ERROR [!]
   [!] Is tt0044672 the correct TCONST for 'the greatest show on earth' (1952)? [!]    [y]/[n] y
   [!] ENTER tt0044672's   $RELEASE DAY$   (As a whole number, no leading zeros): [!] 10
   [!] ENTER tt0044672's   $RELEASE_MONTH$   (As a whole number, no leading zeros): [!] 1
   [!] ENTER tt0044672's   $RELEASE_YEAR$   (As a whole number, 4 digits): [!] 1952
   [!] ENTER tt0044672's   $RELEASE_COUNTRY$   (As an uppercase abbr if +1 word eg: 'USA', else as a Titlecase string like 'Japan'): [!] USA
SCRAPE 26/90   >>>>   tconst: 'tt0045793'   throttled by: 4.02s   title: 'from here to eternity'
SCRAPE 27/90   >>>>   tconst: 'tt0047296'   throttled by: 4.11s   title: 'on the waterfront'
SCRAPE 28/90   >>>>   tconst: 'tt0048356'   throttled by: 3.85s   title: 'marty'
SCRAPE 29/90   >>>>   tconst: 'tt0048960'   throttled by: 3.95s   title: 'around the world in 80 days'
SCRAPE 30/90   >>>>   tconst: 'tt0050212'   throttled by: 4.57s   title: 'the bridge on the river kwai'
SCRAPE 31/90   >>>>   tconst: 'tt0051658'   throttled by: 5.02s   title: 'gigi'
SCRAPE 32/90   >>>>   tconst: 'tt0052618'   throttled by: 6.19s   title: 'ben-hur'
SCRAPE 33/90   >>>>   tconst: 'tt0053604'   throttled by: 5.95s   title: 'the apartment'
SCRAPE 34/90   >>>>   tconst: 'tt0055614'   throttled by: 2.94s   title: 'west side story'
SCRAPE 35/90   >>>>   tconst: 'tt0056172'   throttled by: 2.98s   title: 'lawrence of arabia'
SCRAPE 36/90   >>>>   tconst: 'tt0057590'   throttled by: 3.71s   title: 'tom jones'
SCRAPE 37/90   >>>>   tconst: 'tt0058385'   throttled by: 5.59s   title: 'my fair lady'
SCRAPE 38/90   >>>>   tconst: 'tt0059742'   throttled by: 3.88s   title: 'the sound of music'
SCRAPE 39/90   >>>>   tconst: 'tt0060665'   throttled by: 5.7s   title: 'a man for all seasons'
SCRAPE 40/90   >>>>   tconst: 'tt0061811'   throttled by: 3.95s   title: 'in the heat of the night'
SCRAPE 41/90   >>>>   tconst: 'tt0063385'   throttled by: 2.96s   title: 'oliver!'
SCRAPE 42/90   >>>>   tconst: 'tt0064665'   throttled by: 2.89s   title: 'midnight cowboy'
SCRAPE 43/90   >>>>   tconst: 'tt0066206'   throttled by: 4.05s   title: 'patton'
SCRAPE 44/90   >>>>   tconst: 'tt0067116'   throttled by: 2.99s   title: 'the french connection'
SCRAPE 45/90   >>>>   tconst: 'tt0068646'   throttled by: 5.91s   title: 'the godfather'
SCRAPE 46/90   >>>>   tconst: 'tt0070735'   throttled by: 3.08s   title: 'the sting'
SCRAPE 47/90   >>>>   tconst: 'tt0071562'   throttled by: 5.33s   title: 'the godfather part ii'
SCRAPE 48/90   >>>>   tconst: 'tt0073486'   throttled by: 6.18s   title: 'one flew over the cuckoo's nest'
SCRAPE 49/90   >>>>   tconst: 'tt0075148'   throttled by: 3.42s   title: 'rocky'
SCRAPE 50/90   >>>>   tconst: 'tt0075686'   throttled by: 3.66s   title: 'annie hall'
SCRAPE 51/90   >>>>   tconst: 'tt0077416'   throttled by: 4.02s   title: 'the deer hunter'
SCRAPE 52/90   >>>>   tconst: 'tt0079417'   throttled by: 5.53s   title: 'kramer vs. kramer'
SCRAPE 53/90   >>>>   tconst: 'tt0081283'   throttled by: 4.09s   title: 'ordinary people'
SCRAPE 54/90   >>>>   tconst: 'tt0082158'   throttled by: 4.87s   title: 'chariots of fire'

SCRAPE 55/90   >>>>   tconst: 'tt0083987'   throttled by: 3.17s   title: 'gandhi'
SCRAPE 56/90   >>>>   tconst: 'tt0086425'   throttled by: 3.9s   title: 'terms of endearment'
SCRAPE 57/90   >>>>   tconst: 'tt0086879'   throttled by: 5.96s   title: 'amadeus'
SCRAPE 58/90   >>>>   tconst: 'tt0089755'   throttled by: 2.82s   title: 'out of africa'
SCRAPE 59/90   >>>>   tconst: 'tt0091763'   throttled by: 4.85s   title: 'platoon'
SCRAPE 60/90   >>>>   tconst: 'tt0093389'   throttled by: 4.13s   title: 'the last emperor'
SCRAPE 61/90   >>>>   tconst: 'tt0095953'   throttled by: 4.99s   title: 'rain man'
SCRAPE 62/90   >>>>   tconst: 'tt0097239'   throttled by: 4.55s   title: 'driving miss daisy'
SCRAPE 63/90   >>>>   tconst: 'tt0099348'   throttled by: 3.17s   title: 'dances with wolves'
SCRAPE 64/90   >>>>   tconst: 'tt0102926'   throttled by: 2.93s   title: 'the silence of the lambs'
SCRAPE 65/90   >>>>   tconst: 'tt0105695'   throttled by: 4.39s   title: 'unforgiven'
SCRAPE 66/90   >>>>   tconst: 'tt0108052'   throttled by: 5.85s   title: 'schindler's list'
SCRAPE 67/90   >>>>   tconst: 'tt0109830'   throttled by: 6.27s   title: 'forrest gump'
SCRAPE 68/90   >>>>   tconst: 'tt0112573'   throttled by: 5.45s   title: 'braveheart'
SCRAPE 69/90   >>>>   tconst: 'tt0116209'   throttled by: 3.24s   title: 'the english patient'
SCRAPE 70/90   >>>>   tconst: 'tt0120338'   throttled by: 5.53s   title: 'titanic'
SCRAPE 71/90   >>>>   tconst: 'tt0138097'   throttled by: 3.95s   title: 'shakespeare in love'
SCRAPE 72/90   >>>>   tconst: 'tt0169547'   throttled by: 4.95s   title: 'american beauty'
SCRAPE 73/90   >>>>   tconst: 'tt0172495'   throttled by: 4.59s   title: 'gladiator'
SCRAPE 74/90   >>>>   tconst: 'tt0268978'   throttled by: 5.49s   title: 'a beautiful mind'
SCRAPE 75/90   >>>>   tconst: 'tt0299658'   throttled by: 5.74s   title: 'chicago'
SCRAPE 76/90   >>>>   tconst: 'tt0167260'   throttled by: 3.3s   title: 'the lord of the rings: the return of the king'
SCRAPE 77/90   >>>>   tconst: 'tt0405159'   throttled by: 5.25s   title: 'million dollar baby'
SCRAPE 78/90   >>>>   tconst: 'tt0375679'   throttled by: 5.49s   title: 'crash'
SCRAPE 79/90   >>>>   tconst: 'tt0407887'   throttled by: 4.67s   title: 'the departed'
SCRAPE 80/90   >>>>   tconst: 'tt0477348'   throttled by: 4.37s   title: 'no country for old men'
SCRAPE 81/90   >>>>   tconst: 'tt1010048'   throttled by: 2.97s   title: 'slumdog millionaire'
SCRAPE 82/90   >>>>   tconst: 'tt0887912'   throttled by: 4.56s   title: 'the hurt locker'
SCRAPE 83/90   >>>>   tconst: 'tt1504320'   throttled by: 6.24s   title: 'the king's speech'
SCRAPE 84/90   >>>>   tconst: 'tt1655442'   throttled by: 4.05s   title: 'the artist'
SCRAPE 85/90   >>>>   tconst: 'tt1024648'   throttled by: 3.95s   title: 'argo'
SCRAPE 86/90   >>>>   tconst: 'tt2024544'   throttled by: 6.24s   title: '12 years a slave'
SCRAPE 87/90   >>>>   tconst: 'tt2562232'   throttled by: 5.15s   title: 'birdman or (the unexpected virtue of ignorance)'
SCRAPE 88/90   >>>>   tconst: 'tt1895587'   throttled by: 5.78s   title: 'spotlight'
SCRAPE 89/90   >>>>   tconst: 'tt4975722'   throttled by: 3.72s   title: 'moonlight'
SCRAPE 90/90   >>>>   tconst: 'tt5580390'   throttled by: 4.97s   title: 'the shape of water'

In [16]:
modelDF['RATING'] = scores
modelDF['VOTES'] = votecount
modelDF['PRODUCTION_CO'] = companies

modelDF['BUDGET'] = budgets
modelDF['RELEASE_DAY'] = releasedDays
modelDF['RELEASE_MON'] = releasedMonths
modelDF['RELEASE_YEAR'] = releasedYears
modelDF['COUNTRY'] = releasedCountries

modelDF.head()

,TCONST,TITLE,YEAR,BECHDEL,RATING,VOTES,PRODUCTION_CO,BUDGET,RELEASE_DAY,RELEASE_MON,RELEASE_YEAR,COUNTRY
0,tt0018578,wings,1927,1,7.7,10234,Paramount,2000000,5,1.0,1929,USA
1,tt0019729,the broadway melody,1928,0,6.1,5836,Metro-Goldwyn-Mayer,379000,6,6.0,1929,USA
2,tt0020629,all quiet on the western front,1929,1,8.0,53729,Universal,1448864,24,8.0,1930,USA
3,tt0021746,cimarron,1931,1,5.9,4837,RKO,1433000,9,2.0,1931,USA
4,tt7671068,grand hotel,1931,1,6.6,1128,Unbelievable,None,17,6.0,2019,USA

In [17]:
# The below [empty] arrays declared are what we go and scrape for with the $tconstDoOvers
# (they originally had the incorrect `tconst`.
scores = []
votecount = []
budgets = []
companies = []
releasedDays = []
releasedMonths = []
releasedYears = []
releasedCountries = []

imdb_base = "https://www.imdb.com/title/"

count = 0
iterLength = len(tconstDoOvers)

for pk in tconstDoOvers:
    
    count += 1
    
    # A random amount of time to throttle our requests is generated for each `tconst` 
    # iterration. That `tconst` is concactenated onto the base IMdB movie page URL, and
    # it is then visited. That page's html is parsed with Beautifulsoup4 and a `soup`
    # object is returned.
    throttle = getRateLimit()
    imdb_end = pk
    url = (imdb_base + imdb_end)
    print(f"SCRAPE {count}/{iterLength}   >>>>   tconst: '{imdb_end}'   throttled by: {throttle}s")   #title: '{CHECK_title}'")
    time.sleep(throttle)
    browser = init_splinter()
    browser.visit(url)
    html, soup = simmer_soup()
    
    # The movie's ratings and vote count parent tag is extracted from the `soup` object and 
    # declared as $ratings.
    ratings_parent = soup.find('div', class_='ratingValue').strong['title']
    ratings = ratings_parent.split()
    
    # The movie's rating's score is appended to the current iterration's extraction list.
    score = ratings[0]
    scores.append(score)

    # The movie's rating's vote count is appended to the current iterration's extraction list.
    totalVotes = ratings[3]
    votecount.append(totalVotes.replace(",", ""))
    
    # Booleans for each of the troublesome features are declared as nil before attempting to
    # extract their associated categorical data from IMdB.
    budgetBOOL = False
    dayBOOL = False
    monthBOOL = False
    yearBOOL = False
    countryBOOL = False
    
    # The movie's certs parent tag is extracted from the `soup` object and declared as
    # $cert_raw. It is then iterrated through looking for <h4> tags' text that equal
    # `Budget`, `Production Co`, and `Release Date` to extract as attributes to append
    # as associated information/features of the dataset.
    cert_raw = soup.find_all('div', class_='txt-block')
    for cert in cert_raw:
        try:
            
            # If the `Budget` <h4> text is encountered within the iterration of the <div>s of
            # .txt-block, and if its length is not null, its Boolean is set to true and its
            # value from the 8th character on are appended to the current iterration's 
            # extraction list.
            if cert.h4.text == "Budget:":
                budget_RAW = cert.text.split()
                budget = budget_RAW[0]               
                if len(budget[8:]) != 0:
                    budgetBOOL = True
                    budgets.append(budget[8:].replace(",", ""))

            # If the `Production Co:` <h4> text is encountered within the iterration of the 
            # <div>s of .txt-block, its Boolean is set to true and its value from the 3rd 
            # indice/element on are appended to the current iterration's extraction list.
            elif cert.h4.text == "Production Co:":
                companies_RAW = cert.text.split()
                company = companies_RAW[2]            
                companies.append(company)   

            # If the `Production Co:` <h4> text is encountered within the iterration of the 
            # <div>s of .txt-block, its 3rd, 4th, and 5th indices/elements are extracted out
            # as new $VARs. The month ($release2) is converted to a numerical representation
            # of its string value, too.
            elif cert.h4.text == "Release Date:":
                release_RAW = cert.text.split()
                release1 = release_RAW[2]
                release2 = release_RAW[3]
                release3 = release_RAW[4]
                release2 = monthToNum(release2)
             
                # If the day ($release1) is not null, its Boolean is set to true and its value
                # is appended to the current iterration's extraction list.
                if len(release1) != 0:
                    dayBOOL = True
                    releasedDays.append(release1)
                
                # If the month ($release2) is not 1-12, its Boolean is set to true and its 
                # value is appended to the current iterration's extraction list.
                if release2 in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]:
                    monthBOOL = True
                    releasedMonths.append(release2)
                
                # If the year ($release3) is not null, its Boolean is set to true and its 
                # value is appended to the current iterration's extraction list.
                if len(release3) != 0:
                    yearBOOL = True
                    releasedYears.append(release3)
                
                # The 6th indice/element of $release_RAW is extracted out as a new variable,
                # $release_country. It also has its parens removed from its contents.
                release_country = release_RAW[5]
                release_country = release_country.replace("(", "")
                release_country = release_country.replace(")", "")
                
                # If the country ($release_country) is not null, its Boolean is set to true
                # and its value is appended to the current iterration's extraction list.
                if len(release_country) != 0:
                    countryBOOL = True
                    releasedCountries.append(release_country)
                    
        # Each iterration errors out at some point, so this allows the program to continue
        # regardless of what errors are being thrown about it.
        except:
            pass
    
    # I tried many ways to make this more elegant of code, but had to cut my losses for this
    # version that, while ugly: does work as intended. This is a refactored version of what
    # was all individual $___BOOL checks. If any $___BOOL $VARs are not True, then the user
    # is prompted if the existing `tconst` is indeed correct.
    if budgetBOOL != True or dayBOOL!= True or monthBOOL != True or yearBOOL != True or countryBOOL != True:
        print(f"   [!] ERROR [!]")
        tconstCheck = None
        while tconstCheck not in ("y", "n"):
            tconstCheck = str(input(f"   [!] Is {pk} the correct TCONST for '{CHECK_title}' ({CHECK_year})? [!]    [y]/[n] "))
            
            # If YES (the existing `tconst` is correct), the user is prompted to manually
            # input the data that was unable to be scraped.
            if tconstCheck == "y":
                if budgetBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $BUDGET$   MANUALLY (As a whole number): [!] "))
                    budgets.append(manualInsertion)
                if dayBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $RELEASE DAY$   MANUALLY (As a whole number, no leading zeros): [!] "))
                    releasedDays.append(manualInsertion)
                if monthBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $RELEASE_MONTH$   MANUALLY (As a whole number, no leading zero): [!] "))
                    releasedMonths.append(manualInsertion)
                if yearBOOL != True:
                    manualInsertion = float(input(f"   [!] ENTER {pk}'s   $RELEASE_YEAR$   MANUALLY (As a whole number, 4 digits): [!] "))
                    releasedYears.append(manualInsertion)
                if countryBOOL != True:
                    manualInsertion = str(input(f"   [!] ENTER {pk}'s   $RELEASE_COUNTRY$   MANUALLY (As a string abbreviation, eg: 'USA'): [!] "))
                    releasedCountries.append(manualInsertion)
            
            # If NO (the existing `tconst` is incorrect), the user is prompted to manually
            # input the correct `tconst`, and if it has not already been appended to the
            # $tconstDoOvers, then it is added. 
            elif tconstCheck == "n":
                NEW_tconst = str(input("   [!] Enter the correct TCONST: [!] "))         
                if NEW_tconst not in tconstDoOvers:
                    changeTCONST_LIST(NEW_tconst)
                    
                # Also, each bool that was left False (the scraper couldn't locate the correct
                # data) signals a value of `None` to be appended to the current iterration's
                # extraction list so that its row can later be dropped in favor of $tconstDoOvers    
                if budgetBOOL != True:
                    budgets.append(None)
                if dayBOOL != True:
                    releasedDays.append(None)
                if monthBOOL != True:
                    releasedMonths.append(None)
                if yearBOOL != True:
                    releasedYears.append(None)
                if countryBOOL != True:
                    releasedCountries.append(None)
            else:
                clear()
                print("      [!] [!]    You must enter 'y' or 'n'    [!] [!]")
                time.sleep(4)
                                    
    
    browser.quit()

os.system('say "skeet skeet"')

SCRAPE 1/1   >>>>   tconst: 'tt0022958'   throttled by: 5.62s

In [18]:
# Peep at the DataFrame created from received information from previous (main) big iterrator.
redoData = {'TCONST': tconstDoOvers, 'TITLE': titleDoOvers, 'YEAR': yearDoOvers, 'BECHDEL': bechdelDoOvers}
redoDF = pd.DataFrame(data=redoData)
redoDF

      TCONST        TITLE  YEAR  BECHDEL
0  tt0022958  grand hotel  1931  1

In [19]:
# Add in the new data scraped from IMdB now with the correct `tconst` to the $redoDF.
redoDF['RATING'] = scores
redoDF['VOTES'] = votecount
redoDF['PRODUCTION_CO'] = companies

redoDF['BUDGET'] = budgets
redoDF['RELEASE_DAY'] = releasedDays
redoDF['RELEASE_MON'] = releasedMonths
redoDF['RELEASE_YEAR'] = releasedYears
redoDF['COUNTRY'] = releasedCountries

redoDF

,TCONST,TITLE,YEAR,BECHDEL,RATING,VOTES,PRODUCTION_CO,BUDGET,RELEASE_DAY,RELEASE_MON,RELEASE_YEAR,COUNTRY
0,tt0022958,grand hotel,1931,1,7.5,15822,Metro-Goldwyn-Mayer,700000,11,9,1932,USA

In [20]:
# All rows containing our appended value of $None (the rows that had an incorrect `tconst`)
# are dropped from the $modelDF dataframe.
modelDF.dropna(inplace=True)
modelDF

,TCONST,TITLE,YEAR,BECHDEL,RATING,VOTES,PRODUCTION_CO,BUDGET,RELEASE_DAY,RELEASE_MON,RELEASE_YEAR,COUNTRY
0,tt0018578,wings,1927,1,7.7,10234,Paramount,2000000,5,1.0,1929,USA
1,tt0019729,the broadway melody,1928,0,6.1,5836,Metro-Goldwyn-Mayer,379000,6,6.0,1929,USA
2,tt0020629,all quiet on the western front,1929,1,8.0,53729,Universal,1448864,24,8.0,1930,USA
3,tt0021746,cimarron,1931,1,5.9,4837,RKO,1433000,9,2.0,1931,USA
5,tt0023876,cavalcade,1932,1,6.0,4018,Fox,1180280,15,4.0,1933,USA
6,tt0025316,it happened one night,1934,1,8.1,85490,Columbia,325000,22,2.0,1934,USA
7,tt0026752,mutiny on the bounty,1935,1,7.8,19073,Metro-Goldwyn-Mayer,1950000,22,11.0,1935,USA
8,tt0027698,the great ziegfeld,1936,0,6.8,6469,Metro-Goldwyn-Mayer,2.183e+06,8,4.0,1936,USA
9,tt0029146,the life of emile zola,1937,0,7.3,6328,Warner,700000,2,10.0,1937,USA
10,tt0030993,you can't take it with you,1938,0,8.0,21379,Columbia,1644736,29,9.0,1938,USA
11,tt0031381,gone with the wind,1939,1,8.2,266162,Selznick,3977000,17,1.0,1940,USA
12,tt0032976,rebecca,1940,1,8.1,111714,Selznick,1288000,12,4.0,1940,USA
13,tt0033729,how green was my valley,1941,0,7.8,19272,Twentieth,1250000,9,4.0,1942,Australia
14,tt0035093,mrs. miniver,1942,1,7.6,14392,Metro-Goldwyn-Mayer,1344000,1,12.0,1942,Sweden
15,tt0034583,casablanca,1943,1,8.5,480875,Warner,950000,23,1.0,1943,USA
16,tt0036872,going my way,1944,0,7.2,9377,Paramount,4e+06,2,10.0,1944,Brazil
17,tt0037884,the lost weekend,1945,0,8.0,30735,Paramount,1250000,29,11.0,1945,USA
18,tt0036868,the best years of our lives,1946,0,8.1,53653,The,2100000,29,5.0,1947,Mexico
19,tt0039416,gentleman's agreement,1947,0,7.3,13498,Twentieth,1985000,25,12.0,1947,USA
20,tt0040416,hamlet,1948,1,7.8,13985,Two,500000,12,8.0,1948,Australia
21,tt0041113,all the king's men,1949,0,7.5,12074,Columbia,5.5e+07,8,11.0,1949,USA
22,tt0042192,all about eve,1950,1,8.3,110443,Twentieth,1400000,27,10.0,1950,USA
23,tt0043278,an american in paris,1951,1,7.2,27585,Metro-Goldwyn-Mayer,2723903,11,11.0,1951,USA
24,tt0044672,the greatest show on earth,1952,0,6.7,11719,Paramount,4000000,10,1.0,1952,USA
25,tt0045793,from here to eternity,1953,1,7.7,39731,Columbia,1650000,28,8.0,1953,USA
26,tt0047296,on the waterfront,1954,1,8.2,129888,Horizon,910000,22,6.0,1954,Japan
27,tt0048356,marty,1955,1,7.7,19367,Hecht-Lancaster,343000,10,6.0,1955,Belgium
28,tt0048960,around the world in 80 days,1956,1,6.8,22352,Michael,6000000,17,10.0,1956,USA
29,tt0050212,the bridge on the river kwai,1957,0,8.2,187486,Horizon,3000000,14,12.0,1957,USA
30,tt0051658,gigi,1958,1,6.8,17916,Metro-Goldwyn-Mayer,3319355,25,6.0,1958,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
60,tt0095953,rain man,1988,1,8.0,443745,United,25000000,16,12.0,1988,USA
61,tt0097239,driving miss daisy,1989,1,7.4,89905,The,7500000,26,1.0,1990,USA
62,tt0099348,dances with wolves,1990,1,8.0,222235,Tig,22000000,21,11.0,1990,USA
63,tt0102926,the silence of the lambs,1991,0,8.6,1146640,Strong,19000000,14,2.0,1991,USA
64,tt0105695,unforgiven,1992,1,8.2,344542,Warner,14400000,7,8.0,1992,USA
65,tt0108052,schindler's list,1993,0,8.9,1099627,Universal,22000000,4,2.0,1994,USA
66,tt0109830,forrest gump,1994,1,8.8,1629271,Paramount,55000000,6,7.0,1994,USA
67,tt0112573,braveheart,1995,1,8.3,897543,Icon,72000000,24,5.0,1995,USA
68,tt0116209,the english patient,1996,0,7.4,166963,"Miramax,",27000000,6,12.0,1996,USA
69,tt0120338,titanic,1997,1,7.8,964919,Twentieth,200000000,19,12.0,1997,USA
70,tt0138097,shakespeare in love,1998,1,7.1,202026,Universal,25000000,8,1.0,1999,USA
71,tt0169547,american beauty,1999,1,8.4,996857,"DreamWorks,",15000000,1,10.0,1999,USA
72,tt0172495,gladiator,2000,1,8.5,1223728,"DreamWorks,",103000000,5,5.0,2000,USA
73,tt0268978,a beautiful mind,2001,1,8.2,777157,Universal,58000000,4,1.0,2002,USA
74,tt0299658,chicago,2002,1,7.2,202263,"Miramax,",45000000,24,1.0,2003,USA
75,tt0167260,the lord of the rings: the return of the king,2003,0,8.9,1508263,New,94000000,17,12.0,2003,USA
76,tt0405159,million dollar baby,2004,1,8.1,590190,Warner,30000000,28,1.0,2005,USA
77,tt0375679,crash,2005,1,7.8,402175,Bob,6500000,6,5.0,2005,USA
78,tt0407887,the departed,2006,0,8.5,1085604,Warner,90000000,6,10.0,2006,USA
79,tt0477348,no country for old men,2007,1,8.1,773734,Paramount,25000000,21,11.0,2007,USA
80,tt1010048,slumdog millionaire,2008,1,8.0,751047,Celador,15000000,25,12.0,2008,USA
81,tt0887912,the hurt locker,2009,0,7.6,395050,Voltage,15000000,31,7.0,2009,USA
82,tt1504320,the king's speech,2010,0,8.0,597078,See-Saw,15000000,25,12.0,2010,USA
83,tt1655442,the artist,2011,0,7.9,218034,Studio,15000000,20,1.0,2012,USA
84,tt1024648,argo,2012,1,7.7,537857,Warner,44500000,12,10.0,2012,USA
85,tt2024544,12 years a slave,2013,1,8.1,582081,Regency,20000000,8,11.0,2013,USA
86,tt2562232,birdman or (the unexpected virtue of ignorance),2014,0,7.7,524178,New,18000000,14,11.0,2014,USA
87,tt1895587,spotlight,2015,1,8.1,369544,Participant,20000000,20,11.0,2015,USA
88,tt4975722,moonlight,2016,1,7.4,231664,"A24,",1500000,18,11.0,2016,USA
89,tt5580390,the shape of water,2017,0,7.3,314386,Bull,19400000,22,12.0,2017,USA

In [21]:
# Both Dataframes are joined upon each other for the final encompassing dataset consisting of 
# $modelDF and $redoDF. We can now run a model through it.
allDF = modelDF.append(redoDF)
allDF

,TCONST,TITLE,YEAR,BECHDEL,RATING,VOTES,PRODUCTION_CO,BUDGET,RELEASE_DAY,RELEASE_MON,RELEASE_YEAR,COUNTRY
0,tt0018578,wings,1927,1,7.7,10234,Paramount,2000000,5,1.0,1929,USA
1,tt0019729,the broadway melody,1928,0,6.1,5836,Metro-Goldwyn-Mayer,379000,6,6.0,1929,USA
2,tt0020629,all quiet on the western front,1929,1,8.0,53729,Universal,1448864,24,8.0,1930,USA
3,tt0021746,cimarron,1931,1,5.9,4837,RKO,1433000,9,2.0,1931,USA
5,tt0023876,cavalcade,1932,1,6.0,4018,Fox,1180280,15,4.0,1933,USA
6,tt0025316,it happened one night,1934,1,8.1,85490,Columbia,325000,22,2.0,1934,USA
7,tt0026752,mutiny on the bounty,1935,1,7.8,19073,Metro-Goldwyn-Mayer,1950000,22,11.0,1935,USA
8,tt0027698,the great ziegfeld,1936,0,6.8,6469,Metro-Goldwyn-Mayer,2.183e+06,8,4.0,1936,USA
9,tt0029146,the life of emile zola,1937,0,7.3,6328,Warner,700000,2,10.0,1937,USA
10,tt0030993,you can't take it with you,1938,0,8.0,21379,Columbia,1644736,29,9.0,1938,USA
11,tt0031381,gone with the wind,1939,1,8.2,266162,Selznick,3977000,17,1.0,1940,USA
12,tt0032976,rebecca,1940,1,8.1,111714,Selznick,1288000,12,4.0,1940,USA
13,tt0033729,how green was my valley,1941,0,7.8,19272,Twentieth,1250000,9,4.0,1942,Australia
14,tt0035093,mrs. miniver,1942,1,7.6,14392,Metro-Goldwyn-Mayer,1344000,1,12.0,1942,Sweden
15,tt0034583,casablanca,1943,1,8.5,480875,Warner,950000,23,1.0,1943,USA
16,tt0036872,going my way,1944,0,7.2,9377,Paramount,4e+06,2,10.0,1944,Brazil
17,tt0037884,the lost weekend,1945,0,8.0,30735,Paramount,1250000,29,11.0,1945,USA
18,tt0036868,the best years of our lives,1946,0,8.1,53653,The,2100000,29,5.0,1947,Mexico
19,tt0039416,gentleman's agreement,1947,0,7.3,13498,Twentieth,1985000,25,12.0,1947,USA
20,tt0040416,hamlet,1948,1,7.8,13985,Two,500000,12,8.0,1948,Australia
21,tt0041113,all the king's men,1949,0,7.5,12074,Columbia,5.5e+07,8,11.0,1949,USA
22,tt0042192,all about eve,1950,1,8.3,110443,Twentieth,1400000,27,10.0,1950,USA
23,tt0043278,an american in paris,1951,1,7.2,27585,Metro-Goldwyn-Mayer,2723903,11,11.0,1951,USA
24,tt0044672,the greatest show on earth,1952,0,6.7,11719,Paramount,4000000,10,1.0,1952,USA
25,tt0045793,from here to eternity,1953,1,7.7,39731,Columbia,1650000,28,8.0,1953,USA
26,tt0047296,on the waterfront,1954,1,8.2,129888,Horizon,910000,22,6.0,1954,Japan
27,tt0048356,marty,1955,1,7.7,19367,Hecht-Lancaster,343000,10,6.0,1955,Belgium
28,tt0048960,around the world in 80 days,1956,1,6.8,22352,Michael,6000000,17,10.0,1956,USA
29,tt0050212,the bridge on the river kwai,1957,0,8.2,187486,Horizon,3000000,14,12.0,1957,USA
30,tt0051658,gigi,1958,1,6.8,17916,Metro-Goldwyn-Mayer,3319355,25,6.0,1958,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
61,tt0097239,driving miss daisy,1989,1,7.4,89905,The,7500000,26,1.0,1990,USA
62,tt0099348,dances with wolves,1990,1,8.0,222235,Tig,22000000,21,11.0,1990,USA
63,tt0102926,the silence of the lambs,1991,0,8.6,1146640,Strong,19000000,14,2.0,1991,USA
64,tt0105695,unforgiven,1992,1,8.2,344542,Warner,14400000,7,8.0,1992,USA
65,tt0108052,schindler's list,1993,0,8.9,1099627,Universal,22000000,4,2.0,1994,USA
66,tt0109830,forrest gump,1994,1,8.8,1629271,Paramount,55000000,6,7.0,1994,USA
67,tt0112573,braveheart,1995,1,8.3,897543,Icon,72000000,24,5.0,1995,USA
68,tt0116209,the english patient,1996,0,7.4,166963,"Miramax,",27000000,6,12.0,1996,USA
69,tt0120338,titanic,1997,1,7.8,964919,Twentieth,200000000,19,12.0,1997,USA
70,tt0138097,shakespeare in love,1998,1,7.1,202026,Universal,25000000,8,1.0,1999,USA
71,tt0169547,american beauty,1999,1,8.4,996857,"DreamWorks,",15000000,1,10.0,1999,USA
72,tt0172495,gladiator,2000,1,8.5,1223728,"DreamWorks,",103000000,5,5.0,2000,USA
73,tt0268978,a beautiful mind,2001,1,8.2,777157,Universal,58000000,4,1.0,2002,USA
74,tt0299658,chicago,2002,1,7.2,202263,"Miramax,",45000000,24,1.0,2003,USA
75,tt0167260,the lord of the rings: the return of the king,2003,0,8.9,1508263,New,94000000,17,12.0,2003,USA
76,tt0405159,million dollar baby,2004,1,8.1,590190,Warner,30000000,28,1.0,2005,USA
77,tt0375679,crash,2005,1,7.8,402175,Bob,6500000,6,5.0,2005,USA
78,tt0407887,the departed,2006,0,8.5,1085604,Warner,90000000,6,10.0,2006,USA
79,tt0477348,no country for old men,2007,1,8.1,773734,Paramount,25000000,21,11.0,2007,USA
80,tt1010048,slumdog millionaire,2008,1,8.0,751047,Celador,15000000,25,12.0,2008,USA
81,tt0887912,the hurt locker,2009,0,7.6,395050,Voltage,15000000,31,7.0,2009,USA
82,tt1504320,the king's speech,2010,0,8.0,597078,See-Saw,15000000,25,12.0,2010,USA
83,tt1655442,the artist,2011,0,7.9,218034,Studio,15000000,20,1.0,2012,USA
84,tt1024648,argo,2012,1,7.7,537857,Warner,44500000,12,10.0,2012,USA
85,tt2024544,12 years a slave,2013,1,8.1,582081,Regency,20000000,8,11.0,2013,USA
86,tt2562232,birdman or (the unexpected virtue of ignorance),2014,0,7.7,524178,New,18000000,14,11.0,2014,USA
87,tt1895587,spotlight,2015,1,8.1,369544,Participant,20000000,20,11.0,2015,USA
88,tt4975722,moonlight,2016,1,7.4,231664,"A24,",1500000,18,11.0,2016,USA
89,tt5580390,the shape of water,2017,0,7.3,314386,Bull,19400000,22,12.0,2017,USA
0,tt0022958,grand hotel,1931,1,7.5,15822,Metro-Goldwyn-Mayer,700000,11,9.0,1932,USA

In [22]:
# The $allDF DataFrame is ordered by the values in the `YEAR` column
allDF = allDF.sort_values(by = 'YEAR')
allDF

,TCONST,TITLE,YEAR,BECHDEL,RATING,VOTES,PRODUCTION_CO,BUDGET,RELEASE_DAY,RELEASE_MON,RELEASE_YEAR,COUNTRY
0,tt0018578,wings,1927,1,7.7,10234,Paramount,2000000,5,1.0,1929,USA
1,tt0019729,the broadway melody,1928,0,6.1,5836,Metro-Goldwyn-Mayer,379000,6,6.0,1929,USA
2,tt0020629,all quiet on the western front,1929,1,8.0,53729,Universal,1448864,24,8.0,1930,USA
0,tt0022958,grand hotel,1931,1,7.5,15822,Metro-Goldwyn-Mayer,700000,11,9.0,1932,USA
3,tt0021746,cimarron,1931,1,5.9,4837,RKO,1433000,9,2.0,1931,USA
5,tt0023876,cavalcade,1932,1,6.0,4018,Fox,1180280,15,4.0,1933,USA
6,tt0025316,it happened one night,1934,1,8.1,85490,Columbia,325000,22,2.0,1934,USA
7,tt0026752,mutiny on the bounty,1935,1,7.8,19073,Metro-Goldwyn-Mayer,1950000,22,11.0,1935,USA
8,tt0027698,the great ziegfeld,1936,0,6.8,6469,Metro-Goldwyn-Mayer,2.183e+06,8,4.0,1936,USA
9,tt0029146,the life of emile zola,1937,0,7.3,6328,Warner,700000,2,10.0,1937,USA
10,tt0030993,you can't take it with you,1938,0,8.0,21379,Columbia,1644736,29,9.0,1938,USA
11,tt0031381,gone with the wind,1939,1,8.2,266162,Selznick,3977000,17,1.0,1940,USA
12,tt0032976,rebecca,1940,1,8.1,111714,Selznick,1288000,12,4.0,1940,USA
13,tt0033729,how green was my valley,1941,0,7.8,19272,Twentieth,1250000,9,4.0,1942,Australia
14,tt0035093,mrs. miniver,1942,1,7.6,14392,Metro-Goldwyn-Mayer,1344000,1,12.0,1942,Sweden
15,tt0034583,casablanca,1943,1,8.5,480875,Warner,950000,23,1.0,1943,USA
16,tt0036872,going my way,1944,0,7.2,9377,Paramount,4e+06,2,10.0,1944,Brazil
17,tt0037884,the lost weekend,1945,0,8.0,30735,Paramount,1250000,29,11.0,1945,USA
18,tt0036868,the best years of our lives,1946,0,8.1,53653,The,2100000,29,5.0,1947,Mexico
19,tt0039416,gentleman's agreement,1947,0,7.3,13498,Twentieth,1985000,25,12.0,1947,USA
20,tt0040416,hamlet,1948,1,7.8,13985,Two,500000,12,8.0,1948,Australia
21,tt0041113,all the king's men,1949,0,7.5,12074,Columbia,5.5e+07,8,11.0,1949,USA
22,tt0042192,all about eve,1950,1,8.3,110443,Twentieth,1400000,27,10.0,1950,USA
23,tt0043278,an american in paris,1951,1,7.2,27585,Metro-Goldwyn-Mayer,2723903,11,11.0,1951,USA
24,tt0044672,the greatest show on earth,1952,0,6.7,11719,Paramount,4000000,10,1.0,1952,USA
25,tt0045793,from here to eternity,1953,1,7.7,39731,Columbia,1650000,28,8.0,1953,USA
26,tt0047296,on the waterfront,1954,1,8.2,129888,Horizon,910000,22,6.0,1954,Japan
27,tt0048356,marty,1955,1,7.7,19367,Hecht-Lancaster,343000,10,6.0,1955,Belgium
28,tt0048960,around the world in 80 days,1956,1,6.8,22352,Michael,6000000,17,10.0,1956,USA
29,tt0050212,the bridge on the river kwai,1957,0,8.2,187486,Horizon,3000000,14,12.0,1957,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
60,tt0095953,rain man,1988,1,8.0,443745,United,25000000,16,12.0,1988,USA
61,tt0097239,driving miss daisy,1989,1,7.4,89905,The,7500000,26,1.0,1990,USA
62,tt0099348,dances with wolves,1990,1,8.0,222235,Tig,22000000,21,11.0,1990,USA
63,tt0102926,the silence of the lambs,1991,0,8.6,1146640,Strong,19000000,14,2.0,1991,USA
64,tt0105695,unforgiven,1992,1,8.2,344542,Warner,14400000,7,8.0,1992,USA
65,tt0108052,schindler's list,1993,0,8.9,1099627,Universal,22000000,4,2.0,1994,USA
66,tt0109830,forrest gump,1994,1,8.8,1629271,Paramount,55000000,6,7.0,1994,USA
67,tt0112573,braveheart,1995,1,8.3,897543,Icon,72000000,24,5.0,1995,USA
68,tt0116209,the english patient,1996,0,7.4,166963,"Miramax,",27000000,6,12.0,1996,USA
69,tt0120338,titanic,1997,1,7.8,964919,Twentieth,200000000,19,12.0,1997,USA
70,tt0138097,shakespeare in love,1998,1,7.1,202026,Universal,25000000,8,1.0,1999,USA
71,tt0169547,american beauty,1999,1,8.4,996857,"DreamWorks,",15000000,1,10.0,1999,USA
72,tt0172495,gladiator,2000,1,8.5,1223728,"DreamWorks,",103000000,5,5.0,2000,USA
73,tt0268978,a beautiful mind,2001,1,8.2,777157,Universal,58000000,4,1.0,2002,USA
74,tt0299658,chicago,2002,1,7.2,202263,"Miramax,",45000000,24,1.0,2003,USA
75,tt0167260,the lord of the rings: the return of the king,2003,0,8.9,1508263,New,94000000,17,12.0,2003,USA
76,tt0405159,million dollar baby,2004,1,8.1,590190,Warner,30000000,28,1.0,2005,USA
77,tt0375679,crash,2005,1,7.8,402175,Bob,6500000,6,5.0,2005,USA
78,tt0407887,the departed,2006,0,8.5,1085604,Warner,90000000,6,10.0,2006,USA
79,tt0477348,no country for old men,2007,1,8.1,773734,Paramount,25000000,21,11.0,2007,USA
80,tt1010048,slumdog millionaire,2008,1,8.0,751047,Celador,15000000,25,12.0,2008,USA
81,tt0887912,the hurt locker,2009,0,7.6,395050,Voltage,15000000,31,7.0,2009,USA
82,tt1504320,the king's speech,2010,0,8.0,597078,See-Saw,15000000,25,12.0,2010,USA
83,tt1655442,the artist,2011,0,7.9,218034,Studio,15000000,20,1.0,2012,USA
84,tt1024648,argo,2012,1,7.7,537857,Warner,44500000,12,10.0,2012,USA
85,tt2024544,12 years a slave,2013,1,8.1,582081,Regency,20000000,8,11.0,2013,USA
86,tt2562232,birdman or (the unexpected virtue of ignorance),2014,0,7.7,524178,New,18000000,14,11.0,2014,USA
87,tt1895587,spotlight,2015,1,8.1,369544,Participant,20000000,20,11.0,2015,USA
88,tt4975722,moonlight,2016,1,7.4,231664,"A24,",1500000,18,11.0,2016,USA
89,tt5580390,the shape of water,2017,0,7.3,314386,Bull,19400000,22,12.0,2017,USA