In [1]:
import pandas as pd
import requests
import json
from sqlalchemy import create_engine
from config import omdbkey
from pprint import pprint
#from user import name
#from passwurd import pwd

# Import csv file
#movie_data = #pd.read_csv("c_grosses.csv")

# list of movie titles to query
#movies = movie_data['title']
#ranks = movie_data['rank']

In [2]:
# Build the endpoint URL
url = 'http://www.omdbapi.com/?'
api_key = f'apikey={omdbkey}&t='

In [3]:
# set up lists to hold response data:
# 'Title'
movie_titles = []
# 'Rated'
movie_ratings = []
# 'imdbRating'
movie_imdbscores = []
# 'Director'
movie_directors = []
# junk list
junk_list = []

# loop through movie titles, make requests and parse
for movie in movies :
    response = requests.get(url + api_key + movie).json()
    try:
        movie_titles.append(response['Title'])
        movie_ratings.append(response['Rated'])
        movie_imdbscores.append(response['imdbRating'])
        movie_directors.append(response['Director'])
    except:
        print(movie, response)
        junk_list.append(movie)
print(junk_list)

Just a Breath Away {'Response': 'False', 'Error': 'Movie not found!'}
Elliot The Littlest Reindeer {'Response': 'False', 'Error': 'Movie not found!'}
['Just a Breath Away', 'Elliot The Littlest Reindeer']

In [6]:
print("Length of Ranks Series: " , len(ranks))
for junk in junk_list:
    print(junk)
    i=movies[movies==junk]
    print(i.index, i.index[0])
    ranks = ranks.drop(i.index[0])
print("Length of Ranks Series: " , len(ranks))

Length of Ranks Series:  304
Just a Breath Away
Int64Index([266], dtype='int64') 266
Elliot The Littlest Reindeer
Int64Index([286], dtype='int64') 286
Length of Ranks Series:  302

In [7]:
# save data to pandas dataframe
movies_df = pd.DataFrame({
    "title": movie_titles,
    "rank": ranks,
    "rating": movie_ratings,
    "imdbscore": movie_imdbscores,
    "movie_directors": movie_directors,
})
movies_df.head()

,title,rank,rating,imdbscore,movie_directors
0,Avengers: Infinity War,1,PG-13,8.5,"Anthony Russo, Joe Russo"
1,Black Panther,2,PG-13,7.3,Ryan Coogler
2,Jurassic World: Fallen Kingdom,3,PG-13,6.2,J.A. Bayona
3,Incredibles 2,4,PG,7.7,Brad Bird
4,Aquaman,5,PG-13,7.1,James Wan

In [8]:
movies_df.to_csv('c_movies_omdb.csv', index=False)